<div class="topmenu">
    <ul>
        <!-- routerLink vale : component's selector name -->
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/admin-dashboard">About Us</a></li>
        <li><a routerLink="/delete-flight">Contact Us</a></li>
        <li><a routerLink="/booking">Booking</a></li>
        <li *ngIf="!name" class="login"><a routerLink="/login" >Login/SignUp</a></li>
        <li *ngIf="name" class="login"><a routerLink="/logout" >LogOut</a></li>
    </ul>

</div>
