<div class="card">
    <div id="header">
        <h2 style="text-align: center;">SEARCH FLIGHTS</h2>
    </div>
    <form (ngSubmit)="searchFlights()" id="flight-form" #f="ngForm" name="form">
        <div class="container" id="flightbox">
            <div id="flight-type">
                  <div class="info-box">
                    <input type="radio" name="flight-type" checked [(ngModel)]=radiobtn value="oneway" class="radiobtn" id="one-way" (change)="onChangeTrip($event)"/>
                    <label for="one-way">ONE WAY</label>
                  </div>
                  <div class="info-box">
                      <input type="radio" name="flight-type" [(ngModel)]=radiobtn value="return" class="radiobtn" id="return" (change)="onChangeTrip($event)"/>
                      <label for="return">RETURN</label>
                  </div>
            </div>

            <div id="flight-depart">
                <div class="info-box left">
                    <label for="">FROM</label>
                    <select class="city" name="source" [(ngModel)]=searchdto.source required #source="ngModel">  
                        <option [ngValue]="null" [disabled]="true">--- Choose City ---</option>
                        <option *ngFor="let ct of City" [(ngValue)]=ct.name>{{ct.name}} </option>  
                    </select>
                    <div *ngIf="source.invalid && (source.dirty || source.touched) || f.submitted && source.invalid" class="alert alert-danger">
                        <div *ngIf="source.errors.required" style="color:red; font-size: 15px; margin-bottom: 10px;">*From City name is required</div>
                    </div>
                    <div id="depart-res"></div>
                </div>
                <div class="info-box right" id="arrive-box">
                    <label for="">TO</label>
                    <select class="city" name="destination" [(ngModel)]=searchdto.destination required #destination="ngModel">  
                        <option [ngValue]="null" [disabled]="true">--- Choose City ---</option>
                        <option *ngFor="let ct of City" [(ngValue)]=ct.name>{{ct.name}} </option>  
                    </select>
                    <div *ngIf="destination.invalid && (destination.dirty || destination.touched) || f.submitted && destination.invalid" class="alert alert-danger">
                        <div *ngIf="destination.errors.required" style="color:red; font-size: 15px; margin-bottom: 10px;">*To City name is required</div>
                    </div> 
                    <div id="arrive-res"></div>
                </div>
            </div>

            <div id="flight-dates">
                <div class="info-box left">
                    <label for="">DEPART</label>
                    <input type="date" id="leave-date" [min]="departDate" placeholder="Select Date" (change)="onDateSelect($event)" name="depart" [(ngModel)]=searchdto.depart style="border-color: #6B6A6A;" required #depart="ngModel"/>
                    <div *ngIf="depart.invalid && (depart.dirty || depart.touched) || f.submitted && depart.invalid" class="alert alert-danger">
                        <div *ngIf="depart.errors.required" style="color:red; font-size: 15px; margin-bottom: 10px;">*Departure date is required</div>
                    </div>
                </div>

                <div class="info-box right" id="return-box">
                    <label for="">RETURN</label>
                    <!-- this date works different in different browsers -->
                    <!-- <input type="text" id="return-date" placeholder="Select Date" onfocus="(this.type='date')"/> -->
                    <input type="date" id="return-date" [value]="resetDate" [min]="returnDate" placeholder="Select Date" [disabled]="oneway" name="arrive" [(ngModel)]=searchdto.arrive style="border-color: #6B6A6A;" required #arrive="ngModel"/>
                    <div *ngIf="arrive.invalid && (arrive.dirty || arrive.touched) || f.submitted && arrive.invalid" class="alert alert-danger">
                        <div *ngIf="arrive.errors.required" style="color:red; font-size: 15px; margin-bottom: 10px;">*Departure date is required</div>
                    </div>
                </div>
            </div>

            <div id="flight-info">
                <div class="info-box left">
                    <label for="adults">PASSENGERS</label>
                    <select name="adults" id="adults" name="noOfPassengers" [(ngModel)]=searchdto.noOfPassengers required #noOfPassengers="ngModel">
                        <option [ngValue]="null" [disabled]="true">--- Choose No. of Passengers ---</option>
                        <option *ngFor="let no of passengers; trackBy:indexTracker" [ngValue]=no>{{ no }}</option>
                        <!-- <option value="2" >2</option>
                        <option value="3" >3</option>
                        <option value="4" >4</option> -->
                    </select>
                    <div *ngIf="noOfPassengers.invalid && (noOfPassengers.dirty || noOfPassengers.touched) || f.submitted && noOfPassengers.invalid" class="alert alert-danger">
                        <div *ngIf="noOfPassengers.errors.required" style="color:red; font-size: 15px; margin-bottom: 10px;">*Please select No. of Passengers</div>
                    </div>
                </div>
                <div class="info-box right">
                    <label for="class-type">CLASS</label>
                    <select name="class-type" id="class-type" name="fclass" [(ngModel)]=searchdto.fclass required #fclass="ngModel">
                        <option [ngValue]="null" [disabled]="true">--- Choose Cabin Type ---</option>
                        <option value="ECONOMY" >ECONOMY</option>
                        <option value="BUSINESS" >BUSINESS</option>
                    </select>
                    <div *ngIf="fclass.invalid && (fclass.dirty || fclass.touched) || f.submitted && fclass.invalid" class="alert alert-danger">
                        <div *ngIf="fclass.errors.required" style="color:red; font-size: 15px; margin-bottom: 10px;">*Please select Cabin Type</div>
                    </div>
                </div>
            </div>

            <div class="container">
                <button type="submit" id="search-flight">SEARCH FLIGHTS</button>
            </div>
        </div>
    </form> 

</div>
<!-- <div id="confirm"></div> -->