<div class="card">
    <form #bookingForm="ngForm" >
        <table *ngFor="let i of passNo(passengers)" style="margin-bottom: 20px;">
            <b> Passenger {{ i }} Details : </b>   
            <div class="bookings">
            <tr>
                <th><label for="title"><b>Title</b></label></th>
                <th><label for="name"><b>Full Name</b></label></th>
                <th><label for="gender"><b>Gender</b></label></th>
                <th><label for="age"><b>Age</b></label></th>
                <th><label for="mobile"><b>Phone No.</b></label></th>
            </tr>
            <tr>         
                    <td>
                        <select  name="Title" id="title">
                            <option disabled="disabled" selected="selected" value="">--Title--</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="Dr">Dr.</option>
                        </select>
                    </td>

                    <td>
                        <input  type="text" placeholder="Enter Full Name" name="name" >
                    </td>

                    <td>
                        <select name="Gender" id="gender">
                            <option disabled="disabled" selected="selected" value="">--Select Gender--</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="X">Other</option>
                        </select>
                    </td>

                    <td>
                        <input type="text" placeholder="Enter Age" name="age">
                    </td>

                    <td>
                        <input type="tel" placeholder="Enter Phone Number" name="mobile">
                    </td>

            </tr>
        </div>
        </table>
    </form>
    <button type="submit" (click)="displayFlights()">Book Now</button>
</div>
