<div class="card">

    <form>
        <div class="container">
        <label for="title"><b>Title</b></label>
        <select name="Title" id="title">
            <option disabled="disabled" selected="selected" value="">Title</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
            <option value="Dr">Dr.</option>
        </select>
    
        <label for="name"><b>Full Name</b></label>
        <input type="text" placeholder="Enter Full Name" name="name">
    
        <label for="gender"><b>Gender</b></label>
        <select name="Gender" id="gender">
            <option disabled="disabled" selected="selected" value="">None</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="X">Undisclosed</option>
        </select>
    
        <label for="age"><b>Full Age</b></label>
        <input type="text" placeholder="Enter Age" name="age">
    
        <label for="mobile"><b>Phone No.</b></label>
        <input type="tel" placeholder="Enter Phone Number" name="mobile">
        </div>
       
    
    </form>
    </div>